{{!-- Create table and form for insert functionality --}}
<nav>
    <a href="/">Home Page</a>
    <a href="shoppers">Shoppers</a>
    <a href="sellers">Sellers</a>
    <a href="clothing_items">Clothing Items</a>
    <a href="orders">Orders</a>
    <a href="order_details">Order Details</a>
</nav>

<h1>Thrifty Finds Orders</h1>
<h2>View the Orders Table:</h2>

<table id="orders-table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Total Cost</th>
            <th>Shopper ID</th>
            <th>Seller ID</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.order_id}}</td>
            <td>{{this.order_date}}</td>
            <td>{{this.total_cost}}</td>
            <td>{{this.shopper_id}}</td>
            <td>{{this.seller_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add a New Order:</h2>
<p>To add a new order, please enter the order information below and click 'Submit'!</p>
<form id="add-order-form-ajax">
    <label for="input-order-date">Order Date: </label>
    <input type="date" name="input-order-date" id="input-order-date-ajax">

    <label for="input-total-cost">Total Cost: </label>
    <input type="number" name="input-total-cost" id="input-total-cost-ajax" step="0.01">

    <label for="input-shopper-id">Shopper: </label>
    <select name="input-shopper-id" id="input-shopper-id-ajax">
        <option value="">&nbsp;</option>
        {{#each shoppers}}
        <option value="{{this.shopper_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-seller-id">Seller: </label>
    <select name="input-seller-id" id="input-seller-id-ajax">
        <option value="">&nbsp;</option>
        {{#each sellers}}
        <option value="{{this.seller_id}}">{{this.shop_name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script type="text/javascript" src="./js/add_order.js"></script>

