<nav>
    <link rel="stylesheet" href="/App2.css">
    <a href="/">Home Page</a>
    <a href="shoppers">Shoppers</a>
    <a href="sellers">Sellers</a>
    <a href="clothing_items">Clothing Items</a>
    <a href="orders">Orders</a>
    <a href="order_details">Order Details</a>
</nav>

<link rel="stylesheet" href="/App.css">
<h1>Thrifty Finds Shoppers</h1>
{{!-- READ functionality - Display table for ClothingItems_Orders --}}
<h2>View the Shoppers Table:</h2>
<table id="shoppers-table">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Shopper ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value="{{this.shopper_id}}">
            <td>{{this.shopper_id}}</td>
            <td>{{this.username}}</td>
            <td>{{this.password}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone_number}}</td>
            <td><button onclick="deleteShopper({{this.shopper_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a New Shopper:</h2>
<p>To add a new shopper, please enter the shopper's information below and click 'Submit'!</p>
<form id="add-shopper-form-ajax">
    <label for="input-username">Username: </label>
    <input type="text" name="input-username" id="input-username-ajax">

    <label for="input-password">Password: </label>
    <input type="text" name="input-password" id="input-password-ajax">

    <label for="input-fname">First name: </label>
    <input type="text" name="input-fname" id="input-fname-ajax">

    <label for="input-lname">Last name: </label>
    <input type="text" name="input-lname" id="input-lname-ajax">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email-ajax">

    <label for="input-phone">Phone number: </label>
    <input type="text" name="input-phone" id="input-phone-ajax">

    <input type="submit">
</form>

<h2>Update a Shopper:</h2>
<p>To update a specific shopper, select their name from the drop-down menu and update their information.</p>
<form id="update-shopper-form-ajax">

    <label for="input-fullname">Shopper: </label>
    <select name="input-fullname" id="mySelect">
        <option value="">&nbsp;</option>
        {{#each data}}
        <option value="{{this.shopper_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <label for="input-username">Username: </label>
    <input type="text" name="input-username" id="input-username-update">

    <label for="input-password">Password: </label>
    <input type="text" name="input-password" id="input-password-update">

    <label for="input-fname">First name: </label>
    <input type="text" name="input-fname" id="input-fname-update">

    <label for="input-lname">Last name: </label>
    <input type="text" name="input-lname" id="input-lname-update">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email-update">

    <label for="input-phone">Phone number: </label>
    <input type="text" name="input-phone" id="input-phone-update">

    <input type="submit">

</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script type="text/javascript" src="./js/add_shopper.js"></script>
<script src="./js/delete_shopper.js"></script>
<script src="./js/update_shopper.js"></script>